*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'graphik regular',Arial, Helvetica, sans-serif;
  background-color: #E6E6E6;
}


#part-2{
  width: 80%;
  margin: 20px 10%;
}
#prod {
  width: 100%;
  height: 50%;
}
#prod-div {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.txt-h{
  padding: 10px 0;
  border-style: none none solid none;
  border-width: 1px;
}
.artc{
  width: 250px;
  height: 500px;
  background-color: white;
  margin: 20px 0;
}
.artc-img {
  height: 65%;
  width: 100%;
  background-size: cover;
}
.artc-txt {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artc-txt div {
  margin: 5px 0;
} 
.col-siz {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.artc-btn{
  display: flex;
  flex-direction: row;
}
.artc-btn button {
  padding: 5px;
  width: 100px;
  height: 30px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  color: white;
  background-color: black;
}
.three-dots-icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.edit-menu {
  width: 80px;
  height: 80px;
  background-color: #E6E6E6 ;
  display: flex;
  flex-direction: column;
  display: none;
}
.edit-menu div{
  border-bottom-style:solid ;
  border-color: black;
  border-width: 1px;
}
.edit-active {
  display: block;
}
.add-btn {
  width: 250px;
  height: 500px;
  background-color: white;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}
.add-btn:hover {
  background-color: black;
  color: white;
}
.img-part2 {
  width: 100%;
  height: 100%;
}
@media (max-width:768px){
  .artc {
      width: 100%;
  }
}
